{{- with .Params.map }}
  <p class="mt4 mb2">
    <a href="{{ . }}" target="_blank" rel="noopener"
       class="link f5 grow br-pill ba ph3 pv2 mb2 dib sans-serif no-underline">
      <svg viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" aria-hidden="true"
           style="vertical-align:-0.125em;margin-right:.4em">
        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 0 1 0-5 2.5 2.5 0 0 1 0 5z"/>
      </svg>View on map
    </a>
  </p>
{{- end }}

<ul class="pa0">
  {{ range .GetTerms "site-types" }}
   <li class="list di">
     <a href="{{ .RelPermalink }}" class="link f5 grow br-pill ba ph3 pv2 mb2 dib black sans-serif no-underline">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
</ul>

<ul class="pa0">
  {{ range .GetTerms "trips" }}
   <li class="list di">
     <a href="{{ .RelPermalink }}" class="link f5 grow br-pill ba ph3 pv2 mb2 dib black sans-serif no-underline">
       {{- .LinkTitle -}}
     </a>
   </li>
  {{ end }}
</ul>
